<mat-toolbar color="primary">
  <div><a routerLink="/">LOGO</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="/collares">Collares</a></li>
      <li><a routerLink="/abrigos">Abrigos</a>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <button routerLink="/shopping" mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>pets</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a class="mat-alink" routerLink="/collares">
          <span>Collares</span>
        </a>
      </button>
      <button mat-menu-item>
        <a class="mat-alink" routerLink="/abrigos">
          <span>Abrigos</span>
        </a>
      </button>
    </mat-menu>

    <button routerLink="/shopping" mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>
